.subscribeButton{
    height: 4rem;
    width: 260px;
    border: 0;
    border-radius:2rem;
    background: var(--brown-600);
    color: var(--white-600);
    font-size: 1.25rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: filter 0.2s;

    &:hover{
        filter: brightness(0.8);
    }
}